{% load staticfiles %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Fake Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fake Twitter Prototype using Django">
	<meta name="author" content="Emad Shaaban">

	<link href="{% static 'twitter/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'twitter/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link href="{% static 'twitter/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'twitter/css/bootswatch.css' %}" rel="stylesheet">


</head>

<body>

 <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Fake Twitter</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a href="#">News</a></li>
          <li><a id="swatch-link" href="#">About</a></li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          {% if user.is_authenticated %}

          <li><a rel="tooltip" href="#" data-original-title="">
            Welcome, {% if user.first_name %}
                        {{user.first_name}} {% avatar user.username 30 %}
                      {% else %}
                        {{user.username}} {% avatar user.username 30 %}
                      {% endif %} 
            <i class="icon-share-alt"></i></a>
          </li>
          <li><a rel="tooltip" href="#logoutModal" data-toggle="modal"  data-original-title="Don't do this please !">Sign Out <i class="icon-share-alt"></i></a>
          </li>
          {% else %}
          <li><a rel="tooltip" href="#signupModal" data-toggle="modal" data-original-title="Please take a minute to register">Sign Up <i class="icon-share-alt"></i></a></li>
          <li><a rel="tooltip" href="#loginModal" data-toggle="modal" data-original-title="Please login to tweet">Sign In <i class="icon-share-alt"></i></a>
          </li>
          {% endif %}
          
        </ul>
       </div>
     </div>
   </div>
 </div>


<!-- Modal -->
<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign In</h3>
  </div>
  <form class="login" method="POST" action="/accounts/login/">

  <div class="modal-body">
    <p>Please sign in with one
      of your existing third party accounts. Or, <a href="/accounts/signup/">sign up</a> 
      for a Fake Twitter account and sign in below:</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        



    <li>
      <a title="Facebook" class="socialaccount_provider facebook" 
         href="/accounts/facebook/login/?process=login">Facebook</a>
    </li>



      </ul>

      <div class="login-or">or</div>

    </div>


      {% csrf_token %}
      <p><label for="id_login">Username:</label> <input id="id_login" maxlength="30" name="login" placeholder="Username" type="text" /></p>
    <p><label for="id_password">Password:</label> <input id="id_password" name="password" placeholder="Password" type="password" /></p>
    <p><label for="id_remember">Remember Me:</label> <input id="id_remember" name="remember" type="checkbox" /></p>
      
      <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>
      
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Sign In</button>
  </div>
  </form>

</div>



<!-- Modal -->
<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign Up</h3>
  </div>
  <form class="signup" id="signup_form" method="post" action="/accounts/signup/">

  <div class="modal-body">
    

      {% csrf_token %}
  <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" placeholder="Username" type="text" /></p>
<p><label for="id_email">E-mail (optional):</label> <input id="id_email" name="email" placeholder="E-mail address" type="text" /></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" placeholder="Password" type="password" /></p>
<p><label for="id_password2">Password (again):</label> <input id="id_password2" name="password2" placeholder="Password" type="password" /><input id="id_confirmation_key" name="confirmation_key" type="hidden" /></p>

      
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Sign Up &raquo;</button>
  </div>
  </form>

</div>



<!-- Modal -->
<div id="logoutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign Out</h3>
  </div>
  <form method="post" action="/accounts/logout/">

  <div class="modal-body">
    <p>Are you sure you want to sign out?</p>

  {% csrf_token %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" type="submit">Sign Out</button>
  </div>
  </form>
</div>




<div class="container">
  <br /> <br /> <br /> <br /> 

  {% block content %}
  

  {% endblock %}
	<br><br><br><br>

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a href="http://news.bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Blog</a>
          <a href="http://feeds.feedburner.com/bootswatch">RSS</a>
          <a href="https://twitter.com/thomashpark">Twitter</a>
          <a href="https://github.com/thomaspark/bootswatch/">GitHub</a>
          <a href="https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker">Swatchmaker</a>
          <a href="http://news.bootswatch.com/post/22193315172/bootswatch-api">API</a>
          
        </div>
        Made by <a href="#">Emad Shaaban</a>. Contact him <a href="mailto:emad.shaaban92@gmail.com">emad.shaaban92@gmail.com</a>.<br />
        Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.<br />
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Hosted on <a href="http://pages.github.com/">GitHub</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. Favicon by <a href="https://twitter.com/geraldhiller">Gerald Hiller</a>.<p></p>
      </footer>

</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'twitter/js/jquery.min.js' %}"></script>
    <script src="{% static 'twitter/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'twitter/js/jquery.smooth-scroll.min.js' %}"></script>
    <script src="{% static 'twitter/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'twitter/js/bootswatch.js' %}"></script>

    <script src="{% static 'twitter/js/libs/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'twitter/js/libs/backbone/backbone-min.js' %}"></script>
    <script src="{% static 'twitter/js/libs/backbone/backbone-tastypie.js' %}"></script>
    <script src="{% static 'twitter/js/libs/backbone/backbone-mediator.js' %}"></script>
    <script src="{% static 'twitter/js/libs/backbone/supermodel.js' %}"></script>
    <script src="{% static 'twitter/js/libs/moment/moment.min.js' %}"></script>

    <script src="{% static 'twitter/js/libs/mustache/mustache.js' %}"></script>

    
    
    
  {% block scripts %}
  

  {% endblock %}    

</body>
</html>