{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1> Tweets </h1>
  <input type = "text" id="tweet-input"/>
  <button class="btn" id="tweet-btn">Tweet</button>
  <div id="tweets">

  </div>

{% endblock %}

{% block scripts %}
  	<script src="{% static 'twitter/js/app/models/Tweet.js' %}"></script>
    <script src="{% static 'twitter/js/app/collections/Tweets.js' %}"></script>
    <script src="{% static 'twitter/js/app/views/TweetView.js' %}"></script>
    <script src="{% static 'twitter/js/app/app.js' %}"></script>

{% endblock %}  