{% extends "base.html" %}
{% load static %}

{% block content %}
  	<div class="row">
	  <input type = "text" id="tweet-input" class="span10" value="Tweet Here!"/>
	  <button class="btn btn-primary span2" id="tweet-btn">Tweet</button>
	</div>
  <div id="tweets">

  </div>

{% endblock %}

{% block scripts %}
  	<script src="{% static 'twitter/js/app/models/Tweet.js' %}"></script>
    <script src="{% static 'twitter/js/app/collections/Tweets.js' %}"></script>
    <script src="{% static 'twitter/js/app/views/TweetView.js' %}"></script>
    <script src="{% static 'twitter/js/app/app.js' %}"></script>

{% endblock %}  